<div class="container-1">
  <div class="container-2 pt-5">  

    <h2> <%= params[:medicine_name] %></h2><br>
    <h2>Principio Ativo:<br>
        <%= params[:medicine_principle] %><br>
        Possivel reação:<br>
        Edema de Glote
    </h2>
  </div>
  <div class="container-3">
    <%= image_tag ("alerta.png"), :class => "img_alert"%>
  </div>

  </div>
  <div class="buttons"> 
    <%= link_to "Emergência 192", "tel:192", class: "btn btn-outline-light btn-lg" %>
    <%= link_to "Contato Médico", "tel:7679869", class: "btn btn-outline-light btn-lg" %>
  </div>