<div class="container-1">
  <div class="container-2 pt-5">  

    <h2> <%= @medicine.name %></h2><br>
    <h2>Principio Ativo:<br>
        <%= @medicine.principle %>
        <br>Possivel reação:<br>
        <ul>
        <% @allergies.each do |allergy| %>
          <% allergy.reactions.each do |reaction| %>         
            <li><%= reaction.name %></li>
          <% end %>
        <% end %>
        </ul>
        

    </h2>
  </div>
  <div class="container-3">
    <%= image_tag ("alerta.png"), :class => "img_alert"%>
  </div>

  </div>
  <div class="buttons"> 
    <%= link_to "Emergência 192", "tel:192", class: "btn btn-outline-light btn-lg" %>
    <% if @appointment.present? %>
      <%= link_to "Contato Médico", "tel:#{@appointment.doctor.emergency_phone}", class: "btn btn-outline-light btn-lg" %>
    <% end %>
  </div>