<div class="container">
	<%= form_tag medicines_path, method: :get do %>
	  <%= text_field_tag :query,
	    params[:query],
	    class: "form-control",
	    placeholder: "Find a medicine"
	  %>
	  <%= submit_tag "Search", class: "btn btn-primary" %>
	<% end %>

	<h1>Your search for medicines</h1><br>
	<% @medicines.each do |medicines| %>
	  <div class="card-product">
		  <% if medicines.photo.attached? %>
	      <%= cl_image_tag medicines.photo.key, transformation: [{width: 55, height: 55, gravity: "face", radius: "max", crop: "fill", quality: 80}, {width: 55, crop: "scale"}] %>
			<% end %>
	      <div class="card-product-infos">
	      <h5><%= medicines.principle %></h5>
	      <h4><%= link_to medicines.name, medicines %></h4>
	      <p><%= medicines.laboratory %></p>
	    </div>
	  </div>
	<% end %>
</div>