
<div class="container justify-content-center">
	<% @remedios.each do |remedio| %>
		<div class="cards d-inline-flex">
			<div class="card">
			  <img class="card-img-top" src="https://<%= remedio[:photo] %>" alt="<%= remedio[:title] %>">
			    <p class="card-title"><strong>Substance:</strong> <%= remedio[:substance] %></p>
			    <h5 class="card-text"><strong>Name:</strong> <%= remedio[:title] %></h5>
			    <p class="card-text"><strong>Laboratory:</strong> <%= remedio[:laboratory] %></p>
			    <a href="#" class="btn btn-outline-warning">Tenho Reação!</a>
			</div>
		</div>
	<% end %>
</div>

