<div class="container-medicines d-flex justify-content-center mt-2">
  <div class="card-princip show-medicine">
  <br>
      <h2><%= @medicine.principle %> </h2>
    <div class="card-medicines" style="width: 19rem;">
      <% if @medicine.photo.attached? %>
        <%= cl_image_tag @medicine.photo.key %>
      <% end %>
      <div class="card-body">
      <h3><%= @medicine.name %></h3><h4>(<%= @medicine.laboratory %>)</h4>
      <% if current_user.allergies %>
        <% medicines = [] %>
        <% current_user.allergies.each do | allergy | %>
          <% medicines.push(allergy.medicine_id) %>
        <% end %>
        <% if medicines.include?(params[:id].to_i) %> 
         <p class="p1">You have allergy <i class="fas fa-allergies"></i></p>
         <p clas="p2">Podem ocorrer as seguintes reações:</p>
         <ul>
         <% @allergies.each do |allergy| %>
            <% allergy.reactions.each do |reaction| %>

              <li>
                <%= reaction.name %>
              </li>
            <% end %>
          </ul>
        <% end %>  
      </div>
    </div>
  </div>
</div>

<div class="container d-flex justify-content-center mt-4">
  <%# <%= form_tag medicines_path, method: :post do %>
  <%# <% end %>
  <%= link_to "Add medicine to allergies",  medicine_allergies_path(@medicine), class: "btn btn-warning mx-02", method: :post %>

  <%= link_to 'I Took the medicine!', emergency_path(@medicine), class: "btn btn-danger mx-02 " %>
</div>

