<div class="container-medicines d-flex justify-content-center mt-5">
  <div class="card-princip show-medicine">
  <br>
      <h6><%= @medicine.principle %> </h6>
    <div class="card-medicines">
      <% if @medicine.photo.attached? %>
        <%= cl_image_tag @medicine.photo.key, :class => "img_medicine"%>
      <% end %>
      <div class="card-body">
      <h3><%= @medicine.name %></h3><h4>(<%= @medicine.laboratory %>)</h4>
        <% if @reactions.empty? %> 
           <p class="p3">You are not allergic <i class="far fa-laugh-squint"></i></p>
        <% else %>
          <p class="p1">You have allergy <i class="fas fa-allergies"></i></p>
          <p class="p2">Main reactions:</p>
          <ul>
            <div class="each-allergies">
            <% @reactions.each do |reaction| %>
              <li>
                <%= reaction.name %>
              </li>
            <% end %>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="container d-flex justify-content-center mt-4">
  <%# <%= form_tag medicines_path, method: :post do %>
  <%# <% end %>
  <%= link_to "Add medicine to allergies",  medicine_allergies_path(@medicine), class: "btn btn-warning mx-02", method: :post %>

  <%= link_to 'I Took the medicine!', emergency_path(@medicine), class: "btn btn-danger mx-02 " %>
</div>
