<div class="container-medicines d-flex justify-content-center mt-2">
  <div class="card-princip">
  <br>
      <h2><%= @medicine.principle %> </h2>
    <div class="card-medicines" style="width: 19rem;">
      <%= cl_image_tag @medicine.photo.key %>
      <div class="card-body">
      <h4 class="card-text"><%= @medicine.name %></h4>
      <br>
      <h6><%= @medicine.laboratory %></h6>
      </div>
    </div>
  </div>
</div>

<div class="container d-flex justify-content-center mt-4">
  <%= form_tag medicines_path, method: :get do %>
        <%= submit_tag "Add medicine to allergies", class: "btn btn-warning mx-02" %>
  <% end %>

  <%= link_to 'I Took the medicine!', medicines_emergency_path({medicine_name: @medicine.name, medicine_principle: @medicine.principle}), class: "btn btn-danger" %>
</div>

