<div class="container mt-4">
  <div class="card-product col-sm ">
    <%= cl_image_tag @user.photo.key %>
		<div class="card-product-infos">
		  <h5><%= @user.name %></h5>
			<p>Email: <%= @user.email %></p>
			<p>CPF: <%= @user.cpf %></p>
			<p>Date of birth: <%= @user.birthdate %></p>
			<p>Weight: <%= @user.weight %></p>
			<p>Phone: <%= @user.phone %></p>
			<p>Address: <%= @user.address %></p>
	  </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="card-body-patients mt-4 col-sm mx-2">
     <div class="card-allergi" align="center">
        <div class ="card-new">
          <br>
          <h3><strong>Active Problems</strong></h3>
          <% @active_problems.each do |active_problem|%>
          <p><strong><%= active_problem.problem %></strong></p>
          <% end %>
          <%= render "shared/problem", locals: {user: @user} %>
        </div>
      </div>
    </div>
    <div class="card-body-patients mt-4 col-sm mx-2">
      <div class="card-allergi" align="center">
        <div class ="card-new">
          <br>
          <h3><strong>Allergies / Adverse Reaction</strong></h3>
          <div class="allergies" align="center">
            <% @user.allergies.each do |allergy| %>
              <div class="allergy">
                <h4><strong><%= allergy.medicine.principle %></strong></h4>
                <h5><%= allergy.medicine.name %></h5>
                <p>Possible Reactions:</p>
                <% allergy.reactions.each do |reaction| %>
                 <%= reaction.name %></i>
                  <br>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

