<<<<<<< HEAD
<h1>Escolha a reação a este medicamento</h1>

<div class="container">
  <ul>
    <% @allergies.each do |allergy| %>
      <li>
        <button type="button" class="btn btn-primary btn-lg btn-block"><%= allergy.reactions %></button>
      </li> 
    <% end %> 
  </ul>
=======
<div class="container d-flex justify-content-center mt-4">
  <div class="allergi">
    <br>
    <div class="perfil">
      <% if current_user.photo.attached? %>
      <%= cl_image_tag current_user.photo.key, transformation: [{width: 150, crop: "scale"}]%>
      <% end %>
    </div>
    <br>
    <br>
    <h3>Hello <%= current_user.name %></h3>
    <br>

    <div class="card-login">
      <form>
        <div id="botao">
            <%= link_to 'Cadastrar alergia', medicines_search_medicine_path, class: "btn btn-secondary" %>
        </div>
      </form>
      <br>
      <form>
        <div id="botao">
          <%= link_to 'Pesquisar Medicamento', medicines_search_medicine_path, class: "btn btn-secondary" %>
        </div>
      </form>
    </div>
  </div>
>>>>>>> master
</div>