
<div class="card-login m-4">
  <h1>Allergy reactions to <%= @allergy.medicine.name %></h1><br>
  <div class='caixa' align="justify">
    <%= simple_form_for [@allergy, @allergies_reactions] do |f| %>
      <div class="btn-group-toggle reactions" data-toggle="buttons" role="group" aria-label="Basic checkbox toggle button group">
        <%Reaction.all.each do |r| %>
          <label class="btn btn-outline-light" for="allergies_reaction_reaction_id_<%= r.id %>">
            <input class="btn-check d-none" type="checkbox" value='<%= r.id %>' name="allergies_reaction[reaction_id][]" id="allergies_reaction_reaction_id_<%= r.id %>" ><%= r.name %>
          </label>
        <% end %>
      </div>
      <%= f.button :submit, 'Add reaction to allergy',  class: "btn-light m-3" %>
    <% end %>
  </div>
</div>





