<h1>Alergias a <%= @allergy.medicine.name %></h1>
<h4>Reações alérgicas</h4>


<%= simple_form_for [@allergy, @allergies_reactions] do |f| %>
  <%= f.collection_check_boxes :reaction_id, Reaction.all, :id, :name, :include_hidden => false  %>
  <%# <%= f.input :allergy, as: :hidden, input_html:{value: @allergy.id}  %>
  <%= f.submit %>
<% end %>


