<div class="container"><br>
	<% if current_doctor %>
		<br>
		<h3>My Patients:</h3>
		<% if @appointments.present? %>
			<% @appointments.each do |appointment| %>
				  <div class="card-product">
					  <% if appointment.user.photo.attached? %>
				      <%= cl_image_tag appointment.user.photo.key, transformation: [{width: 55, height: 55, gravity: "face", radius: "max", crop: "fill", quality: 80}, {width: 55, crop: "scale"}] %>
						<% end %>
				      <div class="card-product-infos">
				      <h5>Name: <%= appointment.user.name, user_path(appointment.user)  %></h5>
				      <p>e-mail: <%= appointment.user.email %></p>
				      <p>CPF: <%= appointment.user.cpf %></p>
				      <p>Date of Birth: <%= appointment.user.birthdate %></p>
				      <p>Weight: <%= appointment.user.weight %></p>
				      <p>Phone: <%= appointment.user.phone %></p>
				      <p>Address: <%= appointment.user.address %></p>
				      <p>Allergies to: </p>
				    </div>
				</div>
			<% end %>
		<% else %>
		<h1>You don`t have any Patients</h1>
		<% end %>

	<% else %>

		<h2>My doctor:</h2>
		<% if @appointments.present? %>
			<% @appointments.each do |appointment| %>
				  <div class="card-product">
					  <% if appointment.doctor.photo.attached? %>

				      <%= cl_image_tag appointment.doctor.photo.key, transformation: [{width: 55, height: 55, gravity: "face", radius: "max", crop: "fill"}, {width: 55, crop: "scale"}] %>

						<% end %>
				      <div class="card-product-infos">
				      <h4>Name: <%= appointment.doctor.name %></h4>
				      <h5>Phone: <%= appointment.user.phone %></h5>
				      <h5>EMERGENCY: <%= appointment.doctor.emergency_phone %></h5>
				    </div>
				</div>
			<% end %>
		<% else %>
		<h1>You don`t have any doctor</h1>
		<% end %>
		<button type="button" style="text" class="btn btn-warning"><%= link_to 'Add one doctor', appointments_search_path %></button>

	<% end %>
</div>