<div class="container">
	<% if current_doctor %>
	My patients:
		<% if @appointments.present? %>
			<% @appointments.each do |appointment| %>
				  <div class="card-product">
					  <% if appointment.user.photo.attached? %>
				      <%= cl_image_tag appointment.user.photo.key, transformation: [{width: 55, height: 55, gravity: "face", radius: "max", crop: "fill", quality: 80}, {width: 55, crop: "scale"}] %>
						<% end %>
				      <div class="card-product-infos">
				      <h5><%= appointment.user.name %></h5>
				      <p><%= appointment.user.email %></p>
				      <p><%= appointment.user.cpf %></p>
				      <p><%= appointment.user.birthdate %></p>
				      <p><%= appointment.user.weight %></p>
				      <p><%= appointment.user.phone %></p>
				      <p><%= appointment.user.address %></p>
				    </div>
				</div>
			<% end %>
		<% else %>
		<h1>You don`t have any Patients</h1>
		<% end %>

	<% else %>

		My doctor:
		<% if @appointments.present? %>

			<% @appointments.each do |appointment| %>
				  <div class="card-product">
					  <% if appointment.doctor.photo.attached? %>
				      <%= cl_image_tag appointment.doctor.photo.key, transformation: [{width: 55, height: 55, gravity: "face", radius: "max", crop: "fill", quality: 80}, {width: 55, crop: "scale"}] %>
						<% end %>
				      <div class="card-product-infos">
				      <h5><%= appointment.doctor.name %></h5>
				      <p><%= appointment.user.phone %></p>
				      <p><%= appointment.doctor.emergency_phone %></p>
				    </div>
				</div>
			<% end %>
		<% else %>
		<h1>You don`t have any doctor</h1>
		<% end %>
		<%= link_to 'Add one doctor', appointments_search_path %>

	<% end %>
</div>